@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Questrial&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  background-color: #0E0E0E;
  font-family: 'Questrial', sans-serif;
}