/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Questrial&display=swap');

/* Define color variables */
:root {
  --defaultBlack: #0E0E0E;
  --defaultOrange: #E74C3C;
  --defaultYellow: #C7B99B;
}

body {
  margin: 0;
  background-color: var(--defaultBlack);
  font-family: 'Questrial', sans-serif;
}

/* Overlapping layers */
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center {
  z-index: 1;
}

/* Default text */
.mainHeading {
  font-size: 100px;
  font-weight: 800;
  color: var(--defaultYellow);
  margin-top: 0;
  line-height: 80px;
}

.headLine {
  font-size: 16px;
  color: var(--defaultYellow);
  margin-bottom: 30px;
}

.ormid {
  color: var(--defaultOrange);
}


/* Mask Text */
.maskTextWrapper {
  position: absolute;
  padding: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.maskheadLine {
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
}

.maskmainHeading {
  font-size: 100px;
  font-weight: 800;
  color: black;
  margin-top: 0;
  line-height: 80px;
}

.maskormid {
  color: black;
}

